
.brand-contents .panel {
	/*border: none;
	box-shadow: none;*/
}
.brand-contents .panel .panel-heading {
	/* updated bg since 04-20-17 */
	background: #c1c0c0; /*#cdcdcd;*//*#fafafa;*/
	font-size: 13px;
	font-weight: 400;
}
.brand-contents .panel .panel-heading h4 {  
	font-size: 19px;
	/* added since 04-20-17 */
	color: #474646; /*#303030;*/ /*#212121;*/ /*#767676;*/
	font-family: calibri;
	font-weight: bold;
}

#brand-table_length {
	padding: 15px 0;
}
#brand-table_length select {
	padding: 5px 8px;
	font-size: 14px;
}
#brand-table_filter {
	margin-left: 45px;
	padding: 15px 0;
	width: 80%;
}

#brand-table_filter label input {
	width: 100%;
}

#brand-table {
	margin-top: 0px !important;
}
.brand-contents .panel-body #brand-add-btn {
	background-color: #1a588e;
	border-color: #1a588e;
	border-radius: 3px;
}
.brand-contents .panel-body #brand-add-btn:hover,
.brand-contents .panel-body #brand-add-btn:focus {
	background-color: #1563a5;
	border-color: #1563a5;
	border-radius: 3px;
}
#brand-table tbody tr button {
	background-color: #056605;
	border-color: #056605;
	border-radius: 5px;
}
#brand-table tbody tr button:hover,
#brand-table tbody tr button:focus {
	background-color: #2c6c2c;
	border-color: #2c6c2c;
}
#brand-table tbody tr td:last-child button {
	margin-left: 20px;
}
